
<h1>О нас</h1>
<p>
    E-shelter - это приют для бездомных в Южно-восточном округе г. Москвы. Сейчас в нем живет около 20 собак. Большие и маленькие, пушистые и гладкие, веселые и задумчивые - и на всех одна большая мечта - встретить своего человека и найти Дом.
</p>
<p>
    Приют совсем недавно начал свой путь и пока не имеет громкого имени или лучшего места. Мы начали свою неосознанную деятельность в 2019 году, подобрав несколько выброшенных на улицу щенков к себе домой, поскольку оставить их было невозможным, было решено начать поиск нового дома для бедных животных. С этого началась дорога, полная различных преград и продолжающая прокладываться и по сей день.
</p>
<p>
    Приют предоставляет возможность людям выбрать себе друзей, и хотя говорят, что друзей не выбирают , однако в нашем случае выбор будет взаимовыгодным для двух сторон.
</p>
<p>
    В наших стенах вы можете оставить своего друга на время вашего отсутствия в городе. Мы с особой заботой и профессионализмом позаботимся о вашем питомце и вам не придется волноваться о его состоянии.
</p>
<p>
    Поскольку непредвиденные ситуации это обычное дело, мы также сможем приютить и подыскать вашему найденышу место рядом со своим человеком. В случае, если вы нашли раненую, бездомную или брошенную собаку - обращайтесь к нам. Мы сделаем все что в наших силах чтобы помочь новому жильцу. Также вы можете без утайки передать в надежные руки своего друга, если в вашей жизни появились непосильные для вас трудности. Мы непременно поможем вам и вашей собаке всем, чем сможем.
</p>
<p>
    Одними из постоянных трудностей являются финансовые вопросы, так как за деньги мы приобретаем игрушки для животных, еду, бытовые средства необходимости и так далее. Если у вас есть желание и возможность там помочь, а сделать это очень просто - передать нам корма или крупы, и этого уже будет более чем достаточно. Также мы принимаем волонтеров в свои ряды.
</p>
<p>
    Мы находимся по адресу: Метро люблино, савхозная улица, дом 55с1.
    Наши контакты : 79163330772 (ред.)
</p>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Title of section 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Jan 14</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Title of section 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Jan 18</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Title of section 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Jan 24</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Title of section 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Feb 14</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Title of section 5</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <a href="#0" class="cd-read-more">Read more</a>
            <span class="cd-date">Feb 18</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <h2>Final Section</h2>
            <p>This is the content of the last section</p>
            <span class="cd-date">Feb 26</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->