<div class="container mt-3">
    <h1 class="text-center">Отдать собаку</h1>
    <div class="d-flex flex-column">
        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/dh54745hgrjrj56jurt.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">В муниципальный приют животное может попасть несколькими способами: если его отловили на улице и передали в приют,  по решению суда,при несостоянии человека более ухаживать за животным и при возврате.</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/edgdyh5rhr5hdfhfgjhfgj.png")" style="width:600px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">По решению суда животное определяют в приют в том случае, если его хозяин умер, а родственников либо нет, либо они отказываются от питомца.Часто отлавливают домашних животных, которые попали на улицу: их выбросили хозяева, либо они потерялись.</p>
            </div>
        </div>

        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/dsfgeys5yryfhdfj6jL.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Выброшенные животные на улице скорее всего не смогут долго выживать в новой среде, так как им сложно адаптироваться после жизни в домашних условиях. Животное на улице – это неправильная ситуация, вокруг много опасностей: машины, холода, живодёры и другие факторы, которые сильно сокращают продолжительность жизни животного.</p>
            </div>
        </div>

        <div>
            <p class="fs-1 p-4" style="font-size: 16pt;">
                Собак возвращают в приют крайне редко. Могут вернуть, если новый пёс агрессивно себя ведет по отношению к домашним животным или не уживается с только появившимися в доме детьми.
                Если в вашей семье появились непредвиденные обстоятельства - не выгоняйте собаку на улицу, отдайте её тем, кто сможет найти ей подходящий дом.
            </p>
        </div>
        <div class=" p-4">
            <img src="@Url.Content("~/img/1559465052_05019201130_1920x0_80_0_0_b4461b6e3466e528626393b77519893f.png")" style="margin-left: 20%; margin-right: auto; width:600px;">
        </div>

    </div>
</div>
