
<div class="container mt-3">
    <h1 class="text-center">Передержка</h1>
    <div class="d-flex flex-column">
        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/dfgsdfg43w47645326.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Люди не сидят на месте, они постоянно в движении, даже самые ленивые и отстраненные рано или поздно вынуждены покидать свои укромные уголки, и что же делать, если доверить своего лучшего друга некому, а взять его с собой не представляется возможным?</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/dfjrt68k568orlr6235235f23.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">
                    Человек уже давно придумал как выкрутиться из неудобной ситуации: Передержка - это услуга по временному содержанию животных в отсутствии хозяев.
                    Данная услуга является дополнительным источником дохода для нашего приюта и выбирая нас - вы поддержите нашу деятельность, а также доверите своего питомца в опытные и заботливые руки.
                </p>
            </div>
        </div>

        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/fdsg4h654ek75r7lr8krk6.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Для временного содержания используются отдельные от остальынх вальеров комнаты. Их каждый день убирают, следят за наличием воды, кормят "как дома". Собак тщательно выгуливают и при разрешении хозяев дают возможность пообщаться с другими жителями приюта. Также для них предусмотрены игры и внимание от людей, чтобы ваши пёсики не скучали.</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/54[o7hk4wpi7u0h4w.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-1 p-4" style="font-size: 16pt;">За одни сутки на передержке для собак - 500 рублей. О наличии доступных сеансов узнавайте позвонив администратору или заполните форму ниже:</p>
            </div>
        </div>

    </div>
</div>
